<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>
<body>

    <div id="wrap">

        <div id="container-block">
            <div class="container">
                <div class="item-list-top">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="count">
                                <span>All Topics</span>
                                (<strong>118</strong>)
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-outline-lightgray"><i class="icon-gear"></i></button>
                                <button type="button" class="btn btn-sm btn-outline-lightgray"><i class="icon-setting-sm"></i></button>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="item-list">
                    <div class="item" data-template="news" data-size="size-1x1" data-type="type01"> <!-- [뉴스] Tyep01 : 텍스트 -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-jtbc"></i></div>
                                    <div class="name">jtbc</div>
                                    <div class="id">@pigmijinz</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-4">영원히 우리 얼마나 군영과 두 손을 무한한 피다. 그들을 보이는 끝에 꽃이 우는 붙잡아 더운지라 동력은 때문이다.</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-1x1" data-type="type01"> <!-- [뉴스] Tyep01 : 텍스트 -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-jtbc"></i></div>
                                    <div class="name">jtbc</div>
                                    <div class="id">@pigmijinz</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">영원히 우리 얼마나 군영과 두 손을 무한한 피다. 그들을 보이는 끝에 꽃이 우는 붙잡아 더운지라 동력은 때문이다.</div>
                                    <div class="desc max-line-2">눈에 인생에 공자는 우리는 뛰노는 인간의 피는 만천하의 피다. 꽃 청춘 있음으로써 공자는 우리는 뛰노는 인간의 피는 만천하의 피다. 꽃 청춘 있음으로써</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-1x2" data-type="type02"> <!-- [뉴스] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-nbc"></i></div>
                                    <div class="name">NBC News</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">Native American women face an epidemic of viole Native American women face an epidemic of viole</div>
                                    <div class="desc max-line-2">Limits on tribal prosecutions have worsened the crisis of missing an Limits on tribal prosecutions have worsened</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <img src="/assets/images/@290x290.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-2x2" data-type="type02"> <!-- [뉴스] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-nbc"></i></div>
                                    <div class="name">NBC News</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">Native American women face an epidemic of viole Native American women face an epidemic of viole</div>
                                    <div class="desc max-line-2">Limits on tribal prosecutions have worsened the crisis of missing an Limits on tribal prosecutions have worsened</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <img src="/assets/images/@290x290.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-2x1" data-type="type02"> <!-- [뉴스] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-mbn"></i></div>
                                    <div class="name">MBN</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">바이든, 반독점 강화 행정명령 준 비중…구글·애플 등 빅테크 타바이든, 반독점 강화 행정명령 준 비중…구글·애플</div>
                                    <div class="desc max-line-2">조 바이든 미국 대통령이 산업 전반에 걸친 반(反)독점 규제 강화를 위해 관련 행정명 조 바이든 미국 대통령이</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <img src="/assets/images/@290x290-2.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-2x1" data-type="type02"> <!-- [뉴스] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="img-full"> <!-- 풀이미지일 경우 -->
                                <img src="/assets/images/@600x290.png" alt="">
                            </div>
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-mbn"></i></div>
                                    <div class="name">MBN</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">바이든, 반독점 강화 행정명령 준 비중…구글·애플 등 빅테크 타바이든, 반독점 강화 행정명령 준 비중…구글·애플</div>
                                    <div class="desc max-line-2">조 바이든 미국 대통령이 산업 전반에 걸친 반(反)독점 규제 강화를 위해 관련 행정명 조 바이든 미국 대통령이</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="news" data-size="size-2x2" data-type="type02"> <!-- [뉴스] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="img-full"> <!-- 풀이미지일 경우 -->
                                <img src="/assets/images/@600x290.png" alt="">
                            </div>
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-mbn"></i></div>
                                    <div class="name">MBN</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">바이든, 반독점 강화 행정명령 준 비중…구글·애플 등 빅테크 타바이든, 반독점 강화 행정명령 준 비중…구글·애플</div>
                                    <div class="desc max-line-2">조 바이든 미국 대통령이 산업 전반에 걸친 반(反)독점 규제 강화를 위해 관련 행정명 조 바이든 미국 대통령이</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="social" data-size="size-1x2" data-type="type02"> <!-- [SNS] Tyep02 : 텍스트 + 이미지(Single) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-twitter"></i></div>
                                    <div class="name">권미진</div>
                                    <div class="id">@pigmijinz</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="desc max-line-4">[333다이어트박스 당첨자 발표]여러분의 다이어트를 도와줄 마지막 333다이어트박스 다이어트 뷰티 박스 당첨자를 발표합니다. 선물 관련 개별 연락 드릴 예정이니 쪽지함 확인 부탁드립니다. 감사합니다! :)</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <img src="/assets/images/@290x290-3.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="social" data-size="size-1x2" data-type="type03"> <!-- [SNS] Tyep03 : 텍스트 + 이미지(Multi) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-twitter"></i></div>
                                    <div class="name">Apple</div>
                                    <div class="id">@AppleTomorrow</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="desc max-line-5">iPhone 13 Pro Max - Concept This concept is accurate to the latest leaks, with a much larger camera bump, slightly thicker chassis, and an all new Copper colour! RT please! *and maybe drop a follow if you haven’t yet*</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <div class="swiper-container" id="swiper1">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@landscape.jpg" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@portrait.jpg" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@290x290-3.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="blog" data-size="size-1x1" data-type="type01"> <!-- [블로그 및 커뮤니티] Tyep01 : 텍스트 -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-blog"></i></div>
                                    <div class="name">울랄라 달봉씨 밥상</div>
                                    <div class="id">(river0703)</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title max-line-2">영원히 우리 얼마나 군영과 두 손을 무한한 피다. 그들을 보이는 끝에 꽃이 우는 붙잡아 더운지라 동력은 때문이다.</div>
                                    <div class="desc max-line-2">눈에 인생에 공자는 우리는 뛰노는 인간의 피는 만천하의 피다. 꽃 청춘 있음으로써 눈에 인생에 공자는 우리는 뛰노는 인간의 피는 만천하의 피다. 꽃 청춘 있음으로써</div>
                                    <div class="date">2021.06.29 오후 4:10 <i class="dot"></i> pigmijinz</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="true" class="active"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="blog" data-size="size-1x2" data-type="type02"> <!-- [블로그 및 커뮤니티] Tyep02 : 텍스트 + 이미지(single) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-nate"></i></div>
                                    <div class="name">모토야</div>
                                    <div class="id">(river0703)</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title">포드의 고성능 전기차, 최대주행거리 418km 달성!</div>
                                    <div class="desc max-line-3">미국 포드자동차(이하 포드)가 자사의 전기차 모델, '머스탱 마하-E(Mustang Mach-E)'의 고성능 버전인 '머스탱 GT'와 '머스탱 마하-E 그들이 사용해 왔던 엔진의 기통 수에서부터 드러난다.</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <img src="/assets/images/@290x290.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="blog" data-size="size-1x2" data-type="type03"> <!-- [블로그 및 커뮤니티] Tyep03 : 텍스트 + 이미지(multi) -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-nate"></i></div>
                                    <div class="name">모토야</div>
                                    <div class="id">(river0703)</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title">포드의 고성능 전기차, 최대주행거리 418km 달성!</div>
                                    <div class="desc max-line-3">미국 포드자동차(이하 포드)가 자사의 전기차 모델, '머스탱 마하-E(Mustang Mach-E)'의 고성능 버전인 '머스탱 GT'와 '머스탱 마하-E 그들이 사용해 왔던 엔진의 기통 수에서부터 드러난다.</div>
                                    <div class="date">2021.06.29 오후 4:10</div>
                                    <div class="img">
                                        <div class="swiper-container" id="swiper2">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@290x290.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@290x290.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="/assets/images/@290x290.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                    <div class="item" data-template="docs" data-size="size-1x1" data-type="type01"> <!-- [개인 문서 (추천 문서)] Tyep01 : 텍스트 -->
                        <div class="card">
                            <div class="card-header">
                                <div class="media">
                                    <div class="logo"><i class="media-excel"></i></div>
                                    <div class="name">Excel</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="">
                                    <div class="title">Document, extension, file, format, powerpoint Report</div>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <button type="button" aria-label="like" aria-pressed="false"><i class="icon-like"></i></button>
                                    <button type="button" aria-label="boormark"><i class="icon-bookmark"></i></button>
                                </div>
                                <div>
                                    <button type="button" aria-label="more"><i class="icon-more"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" aria-label="유용하지 않아요" class="btn-close"><i class="icon-x"></i></button>
                    </div>
                </div>
                <!-- 유용하지 않아요 -->
                <div id="js-not-useful" style="display: none;">
                    <div class="not-useful">
                        <p>해당 이야기에서 마음에 들지 <br>않는 점을 알려주세요</p>
                        <button type="button" class="btn btn-block btn-outline-primary" id="js-btn-no-interest">해당 이야기에 관심없음</button>
                        <button type="button" class="btn btn-block btn-outline-lightgray" id="js-btn-no-like">Newsen을(를) 좋아하지 않음</button>
                        <button type="button" class="btn btn-block btn-outline-lightgray">문제 신고</button>
                        <button type="button" class="btn btn-block btn-transparent" id="js-btn-cancel">실행취소</button>
                    </div>
                </div>
                <div id="js-not-useful2" style="display: none;">
                    <div class="not-useful">
                        <p class="text-primary">좋아요. 이런 이야기는 더 적게 <br>보여드릴께요.</p>
                        <a href="javascript:;" role="button" class="text-center mt-3 mb-6"><img src="/assets/images/icon-reload.png" alt="새로고침"></a>
                        <button type="button" class="btn btn-block btn-outline-primary" id="js-btn-no-interest">피드 새로고침</button>
                        <button type="button" class="btn btn-block btn-transparent text-dark" id="js-btn-cancel2">실행취소</button>
                    </div>
                </div>
                <!-- 더보기 -->
                <div class="tooltip-menu" id="js-more-menu" style="display: none;">
                    <a href="#none"><i class="icon-window"></i>공유</a>
                    <a href="#none"><i class="icon-bookmark-sm"></i>북마크</a>
                    <div class="bar"></div>
                    <a href="#none"><i class="icon-thumb-up"></i>유용해요!</a>
                    <a href="#none"><i class="icon-thumb-down"></i>유용하지 않아요!</a>
                    <div class="bar"></div>
                    <ul>
                        <li class="has-treeview">
                            <a href="#none">View Intelligence <i class="icon-menu-arrow"></i></a>
                            <ul>
                                <li><a href="#none">Health Care</a></li>
                                <li><a href="#none">Routers</a></li>
                                <li><a href="#none">Storage</a></li>
                                <li><a href="#none">Biological Psychology</a></li>
                                <li><a href="#none">Information System</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script src="/assets/js/ui.js"></script>
    <script>
        const swiper1 = new Swiper('#swiper1', {
            slidesPerView: 'auto',
            spaceBetween: 10,
            slidesOffsetBefore: 20,
            slidesOffsetAfter: 20,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
        });
        const swiper2 = new Swiper('#swiper2', {
            slidesPerView: 'auto',
            spaceBetween: 10,
            slidesOffsetBefore: 20,
            slidesOffsetAfter: 20,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
        });

        //유용하지 않아요 show/hide
        var notUsefulHtml = $('#js-not-useful').html();
        var notUsefulHtml2 = $('#js-not-useful2').html();
        $('.item .btn-close').on('click',function(){
            $(this).closest('.item').append(notUsefulHtml);
        });

        $(document).on('click','#js-btn-cancel, #js-btn-cancel2',function(){
            $(this).closest('.item').find('.not-useful').remove();
        });

        $(document).on('click','#js-btn-no-interest, #js-btn-no-like',function(e){
            e.preventDefault();
            $(this).closest('.item').append(notUsefulHtml2);
        });

        //더보기 show/hide
        const $moreMenu = $('#js-more-menu');
        $('[aria-label="more"]').on('click',function(){
            //hide
            if($(this).closest('.item').hasClass('show-menu')){
                $('.item-list .item').removeClass('show-menu');
                $moreMenu.hide();
            }
            //show
            else{
                var moreMenuWidth = $moreMenu.outerWidth();
                var moreMenuHeight = $moreMenu.outerHeight();
                var targetOffsetTop = $(this).offset().top;
                var targetOffsetLeft = $(this).offset().left;
                $('.item-list .item').removeClass('show-menu');
                $('#js-more-menu li').removeClass('show');
                $moreMenu.css({
                    'top' : targetOffsetTop - moreMenuHeight - 12,
                    'left' : targetOffsetLeft - moreMenuWidth + 34,
                })
                $(this).closest('.item').addClass('show-menu');
                $moreMenu.show();
            }
        });
        function closeMoreMenu(e){ //바깥 클릭시 더보기 hide
            e.preventDefault();
            if ($moreMenu.has(e.target).length === 0 && $('[aria-label="more"]').has(e.target).length === 0) {
                $('.item-list .item').removeClass('show-menu');
                $moreMenu.hide();
            }
        }
        $(document).on('mouseup',closeMoreMenu);
    </script>

</body>
</html>