<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440">
    <title>DeepSignal Guide</title>
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="192x192">
    <link rel="stylesheet" href="/assets/lib/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/lib/swiper/js/swiper-bundle.min.js"></script>
    <script src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/lib/freewall/freewall.js"></script>

    <style>
        #wrap{padding: 0;margin: 30px;}
        #content{background: #fff;}
        #content .container{min-height: 60vh;padding-top: 1rem;padding-bottom: 1rem;margin: 0 auto !important;}
        #content section > h1{font-size: 24px;margin-bottom: 1rem;color: #8c0cf5;letter-spacing: -.5px;}
        #content section > h1::before{content: '♣️ ';}
        #content section{padding: 1rem;}
        #content section > div + div{margin-top: .5rem;}
    </style>
</head>

<body>
    <div id="wrap">
        <div id="container-block">
            <div id="content">

                <div class="container row row-20">
                    <section class="col-6">
                        <h1>title</h1>
                        <div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>form</h1>
                        <div>
                            <div>
                                <select name="" id="" class="custom-select">
                                    <option value="">전체</option>
                                </select>
                                <input type="text" class="form-control">
                            </div>
                            <div class="custom-switch">
                                <span>알림설정</span>
                                <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                            </div>
                        </div>
                        <div>
                            <div class="row row-10">
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree1" id="agree1-Y" checked>
                                    <label for="agree1-Y" class="btn btn-lightgray btn-block">예</label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree1" id="agree1-N">
                                    <label for="agree1-N" class="btn btn-lightgray btn-block">아니오</label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>button</h1>
                        <div>
                            <button type="button" class="btn btn-primary min-width-80px">등록</button>
                            <button type="button" class="btn btn-lightgray min-width-80px">삭제</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark btn-lg min-width-100px">확인</button>
                            <button type="button" class="btn btn-primary btn-lg min-width-100px">닫기</button>
                            <button type="button" class="btn btn-lg btn-outline-lightgray"><i class="icon-topic-add mr-2"></i>토픽 선택</button>
                            <button type="button" class="btn-icon" aria-label="타임라인" id="js-btn-timeline"><i class="icon-clock"></i></button>
                            <button type="button" class="btn-icon" aria-label="데이터 소스 설정" data-status="fail"><i class="icon-doc"></i></button>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>topic</h1>
                        <div>
                            <span class="topic">2021-06-10</span>
                            <span class="topic">토픽 전체</span>
                            <span class="topic">구글드라이브(5) <a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>Tooltip menu</h1>
                        <div>
                            <div class="tooltip-menu">
                                <a href="#none"><i class="icon-window"></i>공유</a>
                                <a href="#none"><i class="icon-bookmark-sm"></i>북마크</a>
                                <div class="bar"></div>
                                <ul>
                                    <li class="has-treeview">
                                        <a href="#none">아이콘 X(has-treeview)</i></a>
                                        <ul>
                                            <li><a href="#none">Health Care</a></li>
                                            <li><a href="#none">Routers</a></li>
                                            <li><a href="#none">Storage</a></li>
                                            <li><a href="#none">Biological Psychology</a></li>
                                            <li><a href="#none">Information System</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#none">아이콘 X</i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>tab</h1>
                        <div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>text</h1>
                        <div>
                            <span class="font-12px">폰트12px</span>
                            <span class="font-14px">폰트14px</span>
                            <span class="font-18px">폰트18px</span>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>layer</h1>
                        <div class="bg-lightgray p-3">
                            <div class="layer-wrap">
                                <div class="layer-top">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="tit">
                                            <i class="icon-clock"></i> <strong>레이어 타이틀</strong>
                                        </div>
                                        <div>
                                            우측
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-body">
                                    레이어 바디
                                    <div class="buttons">
                                        <button type="button" class="btn btn-dark btn-lg min-width-100px">모두 확인</button>
                                        <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-alarm-close">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>table</h1>
                        <div>
                        </div>
                    </section>
                    <section class="col-6">
                        <h1>text</h1>
                        <div>
                            <div class="text-tip">
                                <p>*선택하신 토픽의 주제를 보실 수 있으며, 10개까지 등록하실 수 있습니다.  </p>
                                <p>*토픽에 주제를 등록하시려면 주제 등록 버튼을 클릭하세요.</p>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>

    <script src="/assets/js/ui.js"></script>
    <script>
    </script>
</body>
</html>

