
<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>
<body class="body-feed"> <!-- body 클래스는 각 메뉴별로 다름 -->

    <div id="wrap">

        <%- include('../layout/_sidebar.ejs')%>

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div class="container">

            </div>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>

    <script src="/assets/js/ui.js"></script>
    <script>

    </script>

</body>
</html>