<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DeepSignal PAGELIST</title>
        <style>
            body{padding:20px;position:relative;}
            *{margin:0;padding:0;font-size:12px;color:#222;line-height:1.5em;font-family:'NanumGothic';}
            h1{margin-bottom:20px;font-size:24px;text-align: center;}
            table{width:100%;border-collapse:collapse;margin: 0 auto;}
            table th,
            table td{border:1px solid #cccee6;padding:2px 10px;word-break: keep-all}
            table th{background:#727bca;color:#fff;padding:10px;font-size:14px;}
            table td a{color:#727bca;text-decoration:none;}
            table td a:hover{text-decoration:underline;}
            table tbody tr:hover{background-color: #fdecec;}
            .noteTable{display: table;width: 100%;}
            .noteTable .date{display: table-cell;color: #ff523c;width: 40px;}
            .noteTable .note{display: table-cell;}
            .center{text-align: center;}
            .bg{background: #fff5f5;}
            ul.float{position:absolute;right:20px;top:20px;}
            ul.float li{list-style:none;border:1px solid #ccc;padding:2px 5px;display:inline-block;}
            .end{background:#ffffcc;}
            .ing{background:#f6b1a6;}
            .list{text-align:center;padding:0 0 20px;}
            .list a{text-decoration:none;margin:0 10px;}
            .list a:hover{text-decoration:underline;}
            .box{border: 2px dotted #aaa;padding: 1rem;margin-bottom: 1rem;text-align: center;line-height: 1.6;}
            .box > ul{display: inline-block;text-align-last: left;}
        </style>
    </head>


    <body>
        <h1>DeepSignal PAGELIST</h1>
        <div class="box">
            <ul>
                <li>download : <a href="/html-210720.zip">html-210720.zip</a></li>
                <li>git : <a href="https://kimhana_vw@bitbucket.org/kimhana_vw/deepsignal.git" target="_blank">https://kimhana_vw@bitbucket.org/kimhana_vw/deepsignal.git</a></li>
                <li>컴파일된 html은 dist 폴더에서 확인</li><br>
                <li>gulp(걸프) 사용방법
                    <ol style="padding-left: 1rem">
                        <li>$ npm install --global gulp-cli</li>
                        <li>해당폴더에서 $ npm install</li>
                        <li>$ gulp</li>
                    </ol>
                </li>
            </ul>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Depth 1</th>
                    <th>Depth 2</th>
                    <th>Depth 3</th>
                    <th>Depth 4</th>
                    <th>File</th>
                    <th>pageLink</th>
                    <th>최초작업일</th>
                    <th>수정일</th>
                    <th></th>
                    <th>Popup</th>
                </tr>
            </thead>
            <tbody  id="pageList">
                <tr>
                    <td></td>
                    <td>가이드</td>
                    <td>컴포넌트</td>
                    <td></td>
                    <td></td>
                    <td>/_guide/</td>
                    <td><a target="_blank" href="/_guide/guide.html">guide.html</a></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td></td>
                    <td>
                        <div class="noteTable">
                            <div class="date"></div>
                            <div class="note"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>레이아웃</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a target="_blank" href="/_guide/layout.html">layout.html</a></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td></td>
                    <td>
                        <div class="noteTable">
                            <div class="date"></div>
                            <div class="note"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>카드</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a target="_blank" href="/_guide/card.html">card.html</a></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td></td>
                    <td>
                        <div class="noteTable">
                            <div class="date"></div>
                            <div class="note"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Home</td>
                    <td>Feed</td>
                    <td></td>
                    <td></td>
                    <td>/feed/</td>
                    <td><a target="_blank" href="/feed/index.html">index.html</a></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td></td>
                    <td>
                        <div class="noteTable">
                            <div class="date"></div>
                            <div class="note"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Connectom</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>/connectom/</td>
                    <td><a target="_blank" href="/connectom/index.html">index.html</a></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td></td>
                    <td>
                        <div class="noteTable">
                            <div class="date"></div>
                            <div class="note"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            var leng = document.querySelectorAll('tbody td a');
            console.log(leng.length);

            // var rows = document.getElementById("pageList").getElementsByTagName("tr");
            // console.log(rows.length);
        </script>
    </body>
</html>