[class^=icon-]{
    display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;font-style: normal;font-size: 0;line-height: 1;vertical-align: middle;
    a > &{vertical-align: top;}
}
.icon-like{width: 30px;height: 30px;background-image: url('../images/icon-like.png');}
.icon-bookmark{width: 30px;height: 30px;background-image: url('../images/icon-bookmark.png');vertical-align: top;}
.icon-more{width: 30px;height: 30px;background-image: url('../images/icon-more.png');background-size: auto !important;vertical-align: top;}
.icon-x{width: 26px;height: 26px;background-image: url('../images/btn-x.png');vertical-align: top;}
.icon-window{width: 15px;height: 15px;background-image: url('../images/icon-window.png');}
.icon-bookmark-sm{width: 15px;height: 15px;background-image: url('../images/icon-bookmark-sm.png');}
.icon-thumb-up{width: 15px;height: 15px;background-image: url('../images/icon-thumb-up.png');}
.icon-thumb-down{width: 15px;height: 15px;background-image: url('../images/icon-thumb-down.png');}
.icon-home{width: 22px;height: 18px;background-image: url('../images/icon-home-off.png');}
.icon-connectom{width: 16px;height: 18px;background-image: url('../images/icon-connectom-off.png');}
.icon-archive{width: 18px;height: 18px;background-image: url('../images/icon-archive-off.png');}
.icon-setting{width: 18px;height: 18px;background-image: url('../images/icon-setting.png');}
.icon-add{width: 14px;height: 14px;background-image: url('../images/icon-add.png');}
.icon-topic-add{width: 10px;height: 10px;background-image: url('../images/icon-topic-add.png');}
.icon-allmenu{width: 22px;height: 22px;background-image: url('../images/icon-allmenu.png');}
.icon-bell{width: 16px;height: 20px;background-image: url('../images/icon-bell.png');}
.icon-info{width: 28px;height: 28px;background-image: url('../images/icon-info.png');}
.icon-search{width: 21px;height: 20px;background-image: url('../images/icon-search.png');}
.icon-data{width: 18px;height: 19px;background-image: url('../images/icon-data.png');}
.icon-user{width: 22px;height: 16px;background-image: url('../images/icon-user.png');}
.icon-language{width: 20px;height: 20px;background-image: url('../images/icon-language.png');}
.icon-microphone{width: 14px;height: 19px;background-image: url('../images/icon-microphone.png');}
.icon-gear{width: 16px;height: 16px;background-image: url('../images/icon-gear.png');}
.icon-setting-sm{width: 14px;height: 14px;background-image: url('../images/icon-setting-sm.png');}
.icon-clock{width: 21px;height: 18px;background-image: url('../images/icon-clock.png');}
.icon-plus{width: 14px;height: 14px;background-image: url('../images/icon-plus.png');}
.icon-plus-white{width: 14px;height: 14px;background-image: url('../images/icon-plus-white.png');}
.icon-doc{width: 20px;height: 16px;background-image: url('../images/icon-doc.png');}
.icon-tooltip{width: 20px;height: 20px;background-image: url('../images/icon-tooltip.png');}
.icon-undo{width: 21px;height: 9px;background-image: url('../images/icon-undo.png');}
.icon-trash{width: 14px;height: 18px;background-image: url('../images/icon-trash.png');}
.icon-zoom-plus{width: 20px;height: 20px;background-image: url('../images/icon-zoom-plus.png');}
.icon-zoom-minus{width: 20px;height: 20px;background-image: url('../images/icon-zoom-minus.png');}
.icon-calendar{width: 18px;height: 20px;background-image: url('../images/icon-calendar.png');}
.icon-close{width: 12px;height: 12px;background-image: url('../images/icon-close.svg');}

.icon-menu-arrow{display: inline-block;width: 7px;height: 7px;border-top: 2px solid #000;border-right: 2px solid #000;transform: rotate(45deg);}
.icon-new{display: inline-block;vertical-align: middle;width: 16px;height: 16px;padding-top: 1px;background: #f25767;color: #fff;border-radius: 50%;font-size: 10px;font-weight: 700;text-align: center;line-height: 16px;}

[class^=media-]{
    display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;font-style: normal;font-size: 0;line-height: 1;vertical-align: middle;width: 24px;height: 24px;
}
.media-twitter{background-image: url('../images/media-twitter.png');}
.media-blog{background-image: url('../images/media-blog.png');}
.media-cafe{background-image: url('../images/media-cafe.png');}
.media-chosun{background-image: url('../images/media-chosun.png');}
.media-excel{background-image: url('../images/media-excel.png');}
.media-facebook{background-image: url('../images/media-facebook.png');}
.media-jtbc{background-image: url('../images/media-jtbc.png');}
.media-kakao{background-image: url('../images/media-kakao.png');}
.media-mbc{background-image: url('../images/media-mbc.png');}
.media-mbn{background-image: url('../images/media-mbn.png');}
.media-nate{background-image: url('../images/media-nate.png');}
.media-nbc{background-image: url('../images/media-nbc.png');}
.media-usatoday{background-image: url('../images/media-usatoday.png');}

.min-width-80px{min-width: 80px;}
.min-width-100px{min-width: 100px;}
.min-width-120px{min-width: 120px;}

.font-12px{font-size: 12px;}
.font-14px{font-size: 14px;}
.font-18px{font-size: 18px;}

.btn{
    i{transform: translateY(-1px);}
}
.btn-outline-lightgray{color: #333;background: #fff;}

.overflow-y-scroll{overflow: auto;position: relative;width: 100%;max-height: 180px;}
.mCSB_scrollTools{width: 6px;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{width: 6px;background: transparent;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #c9c9c9;width: 6px;border-radius: 10px;}
.mCSB_inside>.mCSB_container{margin-right: 24px;}

.ui-slider-horizontal{
    height: 3px;border-radius: 1.5px;
    .ui-slider-handle{top: -6px;}
}
.ui-slider{
    background: #e5efff;border: 0 !important;
    .ui-slider-range{background: $primary;}
    .ui-slider-handle{border-radius: 50%;border: 2px solid $primary;width: 14px;height: 14px;cursor: e-resize;}
}

.radio-btn-style{
    position: absolute;left: -9999px;z-index: -1;
    & + .btn{margin-bottom: 0;}
    &:checked + .btn{background: #fff;color: $primary;border-color: $primary;}
}

.custom-switch{
    display: inline-flex;align-items: center;
    > span{color: #a9a9a9;font-size: 12px;font-weight: 700;
        & ~ label{margin-left: 14px;}
    }
    input[type=checkbox]{height: 0;width: 0;visibility: hidden;}
    label {text-indent: -9999px;width: 50px;height: 26px;background: grey;display: block;border-radius: 100px;position: relative;margin: 0;}
    label:after {content: '';position: absolute;top: 3px;left: 3px;width: 20px;height: 20px;background: #fff;border-radius: 90px;transition: 0.3s;}
    input:checked + label {background: $primary;}
    input:checked + label:after {left: calc(100% - 3px);transform: translateX(-100%);}
    label:active:after {width: 25px;}
}

.topic-wrap{
    margin: 0 -5px;display: flex;flex-wrap: wrap;
    .topic{margin: 5px !important;}
}
.topic{
    height: 40px;padding: 0 1rem;border: 1px solid #f0f0f0;background: #f8f8f7;border-radius: 8px;display: inline-flex;align-items: center;font-size: 12px;font-weight: 700;letter-spacing: -0.04em;
    .del{display: inline-block;background: url('../images/icon-del.png') no-repeat 0 0;width: 16px;height: 16px;margin-left: 13px;vertical-align: middle;}
    & + .topic{margin-left: 7px;}
    &[data-status='fail']{
        border-color: $danger;color: $danger;background: #fff;
        &::before{content: '';display: inline-block;width: 16px;height: 16px;background: url('../images/icon-outline-error.png') no-repeat center;margin-right: 6px;}
    }
    &.active{color: $primary;border-color: $primary;background: #e7effa;}
}
.topic-count{
    display: flex;align-items: center;font-size: 12px;font-weight: 700;margin-bottom: 10px;
    .selected-topic{margin-left: 18px;display: flex;align-items: center;color: #999;}
    span{color: #999;}
    em{color: $primary;margin-left: 4px;}
    em + span{margin-left: 5px;}
}

.dim{background: rgba(0,0,0,0.3);position: fixed;width: 100%;height: 100%;left: 0;top: 0;z-index: 999;display: none;}

.card{
    overflow: hidden;
    &:hover{
        .img-full img,
        .img img{transform: scale(1.04);}
        .img .swiper-slide img{transform: none;}
    }
    .card-header{
        .media{
            display: flex;align-items: center;padding-top: 2px;
            .logo{margin-right: 10px;transform: translateY(-1px);}
            .name{font-size: 14px;font-weight: 700;margin-right: 6px;}
            .id{font-size: 12px;font-weight: 500;color: #999;}
        }
    }
    .card-body{
        padding-top: 0;padding-bottom: 0;
        > a{display: block;text-decoration: none;
            &:hover{
                .title{text-decoration: underline;}
            }
        }
        .title{
            font-size: 18px;font-weight: 700;line-height: 1.55;letter-spacing: -0.45px;color: #333;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;
            &.max-line-2{max-height: 3.1em;-webkit-line-clamp: 2;}
            &.max-line-3{max-height: 4.65em;-webkit-line-clamp: 3;}
            &.max-line-4{max-height: 6.2em;-webkit-line-clamp: 4;}
            &.max-line-5{max-height: 7.75em;-webkit-line-clamp: 5;}
        }
        .desc{
            font-size: 14px;font-weight: 500;line-height: 1.71;letter-spacing: -0.35px;color: #666;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-box-orient: vertical;
            &.max-line-2{max-height: 3.42em;-webkit-line-clamp: 2;}
            &.max-line-3{max-height: 5.13em;-webkit-line-clamp: 3;}
            &.max-line-4{max-height: 6.84em;-webkit-line-clamp: 4;}
            &.max-line-5{max-height: 8.55em;-webkit-line-clamp: 5;}
        }
        .title + .desc{margin-top: 8px;}
        .date{
            font-size: 12px;font-weight: 500;color: #a5a5a5;margin-top: 15px;
            .dot{display: inline-block;width: 2px;height: 2px;background-color: #aaa;vertical-align: middle;margin: 0 3px;}
        }
        .img{
            overflow: hidden;
            img{width: 100%;height: 100%;object-fit: cover;transition: transform .15s ease-in}
        }
    }
    .card-footer{
        display: flex;align-items: center;justify-content: space-between;
    }
    button{border: 0;background: none;padding: 0;vertical-align: top;}
    button + button:not(.btn-block){margin-left: 7px;}
    button.active,
    button[area-pressed=true]{
        .icon-like{background-image: url('../images/icon-like-active.png');}
    }

    .img-full{
        position: absolute;right: 0;top: 0;width: 100%;height: 290px;overflow: hidden;border-radius: 7px;
        img{transition: all .15s ease-in;width: 100%;height: 100%;object-fit: cover;}
        & ~ *{
            position: relative;
        }
        & ~ .card-header{
            .name,
            .id{color: #fff;}
        }
        & ~ .card-body{
            .title,
            .desc,
            .date{color: #fff;}
        }
        & ~ .card-footer{
            .icon-like{background-image: url('../images/icon-like-light.png');}
            .icon-bookmark{background-image: url('../images/icon-bookmark-light.png');}
            .icon-more{background-image: url('../images/icon-more-light.png');}
        }
    }

    .swiper-pagination{position: static;text-align: left;padding-left: 17px;display: flex;margin: 0 0 24px 0;}
    .swiper-pagination-bullet{width: 6px;height: 6px;background: rgba(0,0,0,0.1);opacity: 1;margin: 0 3px;vertical-align: top;}
    .swiper-pagination-bullet-active{background: #bbb;border-radius: 3px;width: 30px;}
    .swiper-slide{width: 220px !important;height: 220px !important;overflow: hidden; }
    .img{
        .swiper-slide{
            &:hover{
                img{transform: scale(1.04);}
            }
        }
    }
}

.tooltip-menu{
    position: absolute;z-index: 2;background: #fff;border-radius: 16px;box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);width: 200px;padding: 18px 0;font-size: 14px;
    a{text-decoration: none;display: block;transition: all .15s;
        i{margin-right: 15px;transform: translateY(-2px);}
        .icon-new{margin-right: 0;transform: translateY(-1px);vertical-align: middle;}
        .icon-menu-arrow{transform: rotate(45deg) translateY(-1px);vertical-align: middle;}
        &:hover{background-color: #e3edfa;color: $primary;}
    }
    > a{padding: 6px 25px;font-weight: 700;display: flex;align-items: center;}
    .bar{width: 100%;height: 1px;background: #f0f0f0;margin: 10px 0;}
    ul{
        > li{
            position: relative;
            > a{font-weight: 700;padding: 6px 25px;}
            > ul{
                display: none;position: absolute;left: calc(100% + 10px);top: -15px;width: 210px;background-color: #fff;padding: 15px 0;border-radius: 8px;box-shadow: 1.5px 2.6px 8px 0 rgba(0, 0, 0, 0.2);
                > li{
                    > a{
                        &:hover{background-color: #e3edfa;}
                    }
                }
            }
            &.show{
                > a{background-color: #e3edfa;color: $primary;
                    .icon-menu-arrow{border-color: $primary;}
                }
                > ul{display: block;}
            }
        }
    }
    &.tooltip-menu-dark{
        background: #222;
        a{color: #a9a9a9;
            &:hover{color: #fff;background-color: #5a7cea;}
        }
    }
    .message{font-weight: 700;line-height: 1.4;}
}

.item-list-top{
    margin-bottom: 17px;margin-top: 39px;
    .count{font-weight: 500;font-size: 14px;}
    .btn-group{
        .btn{height: 34px;height: 34px;}
    }
}

.item-list{
    display: flex;flex-wrap: wrap;width: 100%;padding-bottom: 20px;
    .item{
        overflow: hidden;position: relative;
        .btn-close{position: absolute;right: 20px;top: 20px;background: none;padding: 0;border: 0;opacity: 0;visibility: hidden;transition: .2s opacity;}
        &:hover{
            .btn-close{opacity: 1;visibility:visible;}
        }
        &.show-menu{
            .icon-more{background-image: url('../images/icon-more-active.png') !important;background-color: #f6f6f6;border-radius: 50%;overflow: hidden;}
        }
    }
}

[data-size=size-1x1]{
    height:  290px;
    .card{width: 290px;height: 290px;}
}
[data-size=size-1x2]{
    height: 600px;
    .card{width: 290px;height: 600px;}
}
[data-size=size-2x1]{
    height: 290px;
    .card{width: 600px;height: 290px;}
}
[data-size=size-2x2]{
    height: 600px;
    .card{width: 600px;height: 600px;}
}

[data-type=type02]{
    &[data-size=size-1x2]{
        .card{
            .img{margin: 25px -20px 0;height: 290px;}
        }
        &[data-template=social]{
            .card{
                .img{margin-top: 35px;}
            }
        }
        &[data-template=blog]{
            .card{
                .img{margin: 35px 0 0;height: 250px;}
            }
        }
    }
    &[data-size=size-2x1]{
        .card{
            padding-right: 50%;position: relative;
            .img{position: absolute;right: 0;top: 0;width: 290px;height: 290px;}

        }
    }
    &[data-size=size-2x2]{
        .card{
            .img{margin: 25px -20px 0;height: 290px;}
            .img-full{
                height: 600px;
            }
        }
    }
}

[data-type=type03]{
    &[data-size=size-1x2]{
        .img{margin: 35px -20px 0;}
    }
}

.not-useful{
    position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;background: #fff;border-radius: 8px;overflow: hidden;padding: 0 30px;display: flex;flex-direction: column;justify-content: center;
    p{font-size: 16px;font-weight: 700;line-height: 1.5;letter-spacing: 0.4px;text-align: center;margin-bottom: 15px;}
    .btn{border-radius: 50rem;height: 40px;padding-top: 11px;padding-bottom: 11px;font-weight: 700;font-size: 14px;}
    .btn-outline-primary{background: #e8f0fe;color: $primary;}
    .btn-transparent{color: $primary;}
}

.profile{
    display: inline-block;width: 44px;height: 44px;border-radius: 16px;overflow: hidden;vertical-align: top;
    img{width: 100%;height: 100%;object-fit: cover;}
}

.datepicker-box{
    position: absolute;left: 430px;top: 0;
    padding: 24px 30px 29px 29px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}
.ui-widget.ui-datepicker{
    border: 0;width: 280px;
    .ui-widget-header{background: #fff;border: 0;}
    .ui-state-default{border: 0;}
    td span,
    td a{text-align: center;border-radius: 10px;padding: 6px 2px 0;margin: 0 2px;width: 31px;height: 31px;}
    .ui-state-highlight{background: $light;color: #000;}
    .ui-state-active{background: $primary;color: #fff !important;}
    .ui-datepicker-calendar{
        > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
        > thead th.ui-datepicker-week-end:first-child,
        > tbody td.ui-datepicker-week-end:first-child a{color: $danger;}
        > tbody tr:first-child a,
        > tbody tr:first-child span{margin-top: 8px;}
    }
    .ui-datepicker-prev{
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent $primary transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    .ui-datepicker-next{
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent $primary;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year{width: auto;border: 0;}
    select.ui-datepicker-month{margin-left: 12px;}
}

.text-tip{
    p{font-size: 12px;line-height: 1.83;color: #a9a9a9;font-weight: 700;}
}

.empty{padding: 30px 0;text-align: center;color: #999;font-weight: 500;font-size: 16px;line-height: 1.6;}

.alarm-layer{
    opacity: 0;visibility: hidden;transition: .2s;position: relative;z-index: 99;
    .dim{display: block;z-index: 99;}
    .layer-wrap{
        position: fixed;top: 80px;right: 20px;z-index: 100;
        &.active{
            -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
    html.alarm-layer-show &{
        opacity: 1;visibility: visible;
    }
}

.alarm-list{
    li{
        a{display: block;border-radius: 8px;overflow: hidden;border: solid 1px #f0f0f0;padding: 20px;text-decoration: none;transition: all .15s;}
        .tit{font-size: 14px;font-weight: 700;color: #333;line-height: 1.2;}
        .date{font-size: 12px;font-weight: 500;color: #9a9a9a;}
        .desc{font-size: 14px;font-weight: 500;color: #333;margin-top: 1rem;}
        &.readed{
            .tit,
            .date,
            .desc{opacity: .5;}
            a{border-color: #f8f8f7;background-color: #f8f8f7;}
        }
    }
    li + li{margin-top: 10px;}
    li:not(.readed){
        a:hover{
            border-color: $primary;background-color: #e7effa;
            .tit,
            .date,
            .desc{color: $primary;}
        }
    }
}

.toast-alarm{
    position: fixed;right: 20px;bottom: 20px;z-index: 100;
    .toast{max-width: none;}
}

.my-layer{
    width: 360px;border-radius: 8px;box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);border: solid 1px #f1f1f1;background-color: #ffffff;padding: 17px 30px 30px;position: fixed;right: 40px;top: 80px;visibility: hidden;opacity: 0;transition: opacity .2s;
    .my-info{
        .my-info-top{margin-bottom: 19px;}
        .profile{margin-right: 14px;}
        .name{font-size: 20px;font-weight: 700;position: relative;line-height: 1.2;
            &::before{content: '';display: block;width: 100%;height: 1px;background-color: #000;position: absolute;left: 0;bottom: 0;}
        }
        .list-group-item{
            border: 1px solid #e1e1e1;border-radius: 8px;padding: 0;height: 64px;font-size: 14px;font-weight: 700;
            & + .list-group-item{margin-top: 10px;}
            > a{display: flex;align-items: center;padding: 0 20px;height: 100%;text-decoration: none;}
            > .row{height: 100%;padding: 0 20px;}
        }
        .buttons{display: flex;justify-content: center;margin-top: 30px;}
    }
    html.my-layer-show &{
        visibility: visible;opacity: 1;
    }
}

.myinfo-layer{
    opacity: 0;visibility: hidden;transition: .2s;position: relative;z-index: 99;
    .dim{display: block;z-index: 99;}
    .layer-wrap{
        position: fixed;top: 80px;right: auto;left: 50%;z-index: 100;width: 580px;transform: translateX(calc(-50% + 100px));
        &.active{
            -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
    html.myinfo-layer-show &{
        opacity: 1;visibility: visible;
    }
    .profile-area{
        display: flex;align-items: center;margin-bottom: 40px;
        .profile{width: 100px;height: 100px;margin-right: 30px;
            span{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;color: #e6e6e6;font-size: 16px;font-weight: 700;border: 1px solid #ebebeb;border-radius: 16px;}
        }
        .btn + .btn{margin-left: 10px;}
    }
    .form-group{
        border-bottom: 1px solid #a9a9a9;padding-bottom: 9px;
        label{color: #999;font-size: 12px;font-weight: 700;}
        .custom-select{border-color: transparent;font-size: 15px;font-weight: 500;height: 34px;padding-left: 0;background-position: top 55% right 0;}
        .form-control{border-color: transparent;font-size: 15px;font-weight: 500;height: 34px;padding-left: 0;padding-right: 0;}
    }
}