.btn-icon{
    display: inline-flex;align-items: center;justify-content: center;width: 40px;height: 40px;border-radius: 16px;background-color: #fff;box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);border: solid 1px #f1f1f1;text-decoration: none;transition: all .2s;
    &.btn-primary{background-color: $primary !important;}
    &[data-status="fail"]{
        border: 1px solid $danger;position: relative;
        .icon-doc{background-image: url('../images/icon-doc-warning.png');}
        &::before{content: '';display: block;width: 16px;height: 16px;background: url('../images/icon-notification.png') no-repeat 50% 50%;position: absolute;right: -4px;top: -4px;}
    }
}

.tooltip-menu{
    a{width: auto;height: auto;box-shadow: none;border: 0;border-radius: 0;}
}

.feed-functions{
    position: fixed;right: 50px;bottom: 30px;
    .btn-icon{border-radius: 50%;margin-top: 20px;}
    .btn-top{
        background-color: #000;color: #fff;font-size: 10px;font-weight: 700;border-color: #000;
        &:hover,
        &:focus{background-color: #000;}
    }
}

.connectom-functions{
    position: fixed;right: 50px;bottom: 30px;display: flex;
    .btn-icon{border-radius: 50%;margin-left: 13px;}
}

.timeline{
    position: fixed;left: 150px;top: 150px;
    .tooltip-menu{width: 128px;left: calc(100% + 10px);top: 0;visibility: hidden;opacity: 0;transition: opacity .2s;}
    .today{
        padding: 0 20px;margin: -5px 0;
        span{display: block;color: #a9a9a9;font-size: 12px;font-weight: 700;}
        strong{display: block;color: #fff;font-size: 12px;font-weight: 700;margin-top: 5px;}
    }
    .btn-icon:focus,
    .btn-icon:hover{
        & ~ .tooltip-menu{visibility: visible;opacity: 1;}
    }
    .timeline-layer{
        position: absolute;left: calc(100% + 20px);top: 0;visibility: hidden;opacity: 0;transition: opacity .15s;
        .timeline-progress{margin-top: -12px;}
        .btn-icon{background-color: #e5efff;box-shadow: none;border: 0;}
        .datepicker-box{
            visibility: hidden;opacity: 0;transition: opacity .15s;
        }
        &.show-calendar{
            .btn-icon{background: #cddffc;}
            .datepicker-box{
                visibility: visible;opacity: 1;
            }
        }
        .overflow-y-scroll{max-height: 160px;}
        .learning-history{
            li{display: flex;font-size: 12px;font-weight: 500;color: #333;margin: 8px 0;}
        }
    }
    &.active{
        .tooltip-menu{opacity: 0 !important;}
        .timeline-layer{visibility: visible;opacity: 1;}
    }
    .form-group{
        padding: 30px 0;margin-bottom: 0;
        & + .form-group{border-top: 1px solid #f0f0f0;}
        .label{font-size: 14px;font-weight: 700;min-width: 112px;}
        dl{
            min-width: 115px;
            dt{font-size: 12px;font-weight: 500;color: #999;margin-bottom: 10px;}
            dd{font-size: 14px;font-weight: 700;color: #000;}
        }
    }
}
@media screen and (max-height: 1000px) {
    .timeline{
        .form-group{padding: 18px 0;}
        .mCustomScrollBox{height: 140px;}
    }
}

.topic-manage{
    position: fixed;right: 50px;top: 150px;
    .tooltip-menu{right: calc(100% + 20px);top: 0;visibility: hidden;opacity: 0;transition: opacity .2s;}
    .topic-add{
        position: relative;
        &.active{
            .tooltip-menu{visibility: visible;opacity: 1;}
        }
    }
    .channel-setting{
        position: relative;
        .btn-icon{
            &:focus,
            &:hover{
                & + .tooltip-menu{visibility: visible;opacity: 1;}
            }
        }
        .channel-layer{
            position: absolute;right: calc(100% + 20px);top: 0;visibility: hidden;opacity: 0;transition: opacity .15s;
            .layer-wrap{width: 480px;}
        }
        &.active{
            .channel-layer{visibility: visible;opacity: 1;}
            .tooltip-menu{opacity: 0 !important;}
        }
    }
    .key-add{
        position: relative;
        .key-add-layer{
            position: absolute;right: calc(100% + 20px);top: 0;visibility: hidden;opacity: 0;transition: opacity .15s;
            .layer-wrap{width: 480px;}
        }
        &.active{
            .key-add-layer{visibility: visible;opacity: 1;}
        }
    }
}

.zoom{
    position: fixed;left: 150px;bottom: 30px;
    a,
    button{width: auto;height: auto;background: transparent;display: block;padding: 0;margin: 0;box-shadow: none;border-radius: 0;border: 0;}
    .zoom-area{
        display: flex;align-items: center;justify-content: center;height: 40px;border-radius: 50rem;background: #fff;box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);font-size: 14px;font-weight: 700;padding: 0 20px;
        .zoom-select{
            position: relative;
            .btn-zoom{
                font-size: 12px;font-weight: 700;width: 55px;display: flex;align-items: center;justify-content: space-between;
                i{display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #1a73e8 transparent transparent transparent;transform: translateY(-1px);}
            }
            .tooltip-menu{
                left: 50%;bottom: 50px;
            }
        }
        .progress{
            margin: 0 25px;width: 100px;height: 2px;
            .progress-bar{transition: .1s;}
            [aria-valuenow="50"]{width: 0;}
            [aria-valuenow="75"]{width: 25%;}
            [aria-valuenow="100"]{width: 50%;}
            [aria-valuenow="125"]{width: 75%;}
            [aria-valuenow="150"]{width: 100%;}
        }
        .btns{display: flex;align-items: center;
            button + button{margin-left: 8px;}
        }
    }
}

.view-feed{
    position: fixed;left: 50%;bottom: 30px;transform: translateX(-50%);display: flex;align-items: center;
    .btn-icon{width: auto;border-radius: 50rem;font-weight: 700;font-size: 14px;padding-left: 20px;padding-right: 20px;}
    .selected-topic{
        display: flex;align-items: center;justify-content: center;height: 40px;border-radius: 50rem;background: #fff;box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);font-size: 14px;font-weight: 700;padding: 0 20px;margin-right: 6px;display: none;
        em{color: #1a73e8;margin-left: 9px;}
        em + span{
            &::before{content: '';display: inline-block;width: 1px;height: 10px;background: #e7e7e7;margin: 0 1rem;}
        }
    }
    .tooltip-menu{left: calc(100% + 10px);bottom: 0;width: 115px;visibility: hidden;opacity: 0;transition: opacity .2s;text-align: center;}
    &.has-topic{
        > a,
        > button{background-color: #1a73e8;color: #fff;}
        .selected-topic{display: flex;}
    }
    &.active{
        .tooltip-menu{visibility: visible;opacity: 1;}
    }
}


.topic-add-center{
    position: absolute;left: 50%;top: 50%;transform: translate(-50%,calc(-50% - 80px));
    .tooltip-menu{left: calc(100% + 10px);top: 0;visibility: hidden;opacity: 0;transition: opacity .2s;}
    &.active{
        .tooltip-menu{
            visibility: visible;opacity: 1;
        }
    }
}

.connectom-area{
    width: 100%;height: 100%;overflow: hidden;position: relative;
}