/*
    z-index
    header: 98
    alarm layer : 99
    sidebar: 100
*/

html,body{
    width: 100%; height: 100%; line-height: 1.5;
}
body{
    min-width: 1420px;min-height: 100%;position: relative;
}

#skip_navi{position:fixed; left:0; top:-999px; display:block; padding:.5rem 1.5rem; font-size:15px; color:#fff;font-weight: 700; background:$danger}
#skip_navi:focus{top:0; z-index:999}

#wrap{position: relative;min-height: 100%;padding-left: 100px;padding-top: 80px;}
#sidebar-block{
    width: 100px;height: 100%;position: fixed;left: 0;top: 0;z-index: 100;bottom: 0;background: #fff;
    .sidebar-inner{height: 100%;display: flex;align-items: center;justify-content: center;}
}
#header-block{
    position: fixed;left: 100px;right: 0;top: 0;z-index: 98;
}


header{
    height: 80px;position: relative;z-index: 3;transition: background .5s ease-in;
    .logo{
        display: block;position: absolute;left: 50px;top: 31px;background: url('../images/logo.png') no-repeat 0 0;width: 138px;height:26px;
    }
}
html.is-scrolled{
    header{background: rgba(255,255,255,0.6);}
}


.search{
    margin-left: 30px;
    /* position: absolute;left: 50%;top: 20px;transform: translateX(-50%);background: #fff;border-radius: 50rem; */
    input{font-weight: 500;border: 0;margin: 0;width: 360px;height: 50px;display: block;border-radius: 50rem;background: transparent;padding: 7px 20px 5px 57px;
        &::placeholder{color: rgba(0,0,0,0.3);}
    }
    /* i{position: absolute;left: 20px;top: 15px;} */
    > a{display: block;
        i{vertical-align: middle;}
    }
}

.util{
    position: absolute;right: 50px;top: calc(50% + 3px);transform: translateY(-50%);display: flex;align-items: center;
    .lang{
        position: relative;
        > a{
            font-size: 14px;font-weight: 700;text-decoration: none;display: block;
            /* &::after{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 4px 0 4px;border-color: #000000 transparent transparent transparent;margin-left: 10px;vertical-align: middle;} */
            .icon-language{vertical-align: middle;transform: translateY(-1px);}
            &:focus{
                ~ .tooltip-menu{display: block;}
            }
        }
        .tooltip-menu{width: auto;top: 45px;left: 50%;transform: translateX(-50%);display: none;text-align: center;}
    }
    .alarm{
        margin-left: 30px;padding-right: 10px;
        > a{position: relative;
            i{vertical-align: middle;}
        }
        .badge{width: 16px;height: 16px;overflow: hidden;font-size: 10px;font-weight: 700;padding-top: 5px;position: absolute;left: 10px;top: -8px;}
    }
    .fullscreen{
        margin-left: 24px;
        > a{position: relative;
            i{vertical-align: middle;}
        }
    }
    .mypage{
        margin-left: 30px;
        .icon-user{vertical-align: middle;}
    }
    .buttons{
        margin-left: 30px;
        .btn{font-size: 12px;font-weight: 700;height: 40px;padding-top: 10px;}
        .btn-light{color: $primary;}
    }
}

.gnb{
    width: 100%;
    .dep1{
        > li{
            position: relative;margin: 20px 0;
            > a{
                display: block;text-align: center;margin: 0 auto;text-decoration: none;
                .icon{
                    overflow: hidden;display: inline-flex;align-items: center;justify-content: center;width: 44px;height: 44px;border-radius: 16px;background: #f7f7f7;position: relative;
                    i{position: relative;}
                    .profile{position: relative;}
                }
                .text{display: block;font-size: 12px;font-weight: 700;color: #c6c7c9;margin-top: 7px;}
                &.active{
                    .icon-home{background-image: url('../images/icon-home-on.png');}
                    .icon-archive{background-image: url('../images/icon-archive-on.png');}
                    .icon-connectom{background-image: url('../images/icon-connectom-on.png');}
                    .text{color: #000;}
                }
                &.hover ~ .dep2{opacity: 1;visibility: visible;transform: translateX(0);}
            }
        }
        > li:not(.after-login){
            > a{
                .icon{
                    &::before{
                        content: '';position: absolute;left: 0;top: 0;height: 490%;width: 140%;background: #f1f1f1;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;-webkit-transform: translateX(-98%) translateY(-55%) rotate(45deg);transform: translateX(-98%) translateY(-55%) rotate(45deg);
                    }
                }
                &:hover{
                    .icon{
                        &::before{-webkit-transform: translateX(-9%) translateY(-45%) rotate(45deg);
                            transform: translateX(-9%) translateY(-45%) rotate(45deg);}
                    }
                }
            }
            & + .after-login{
                padding-top: 21px;
                &::before{content: '';display: block;width: 60px;height: 1px;background: #f0f0f0;position: absolute;left: 50%;margin-left: -30px;top: 0;}
            }
        }
    }
    .dep2{
        position: absolute;left: 100px;top: -21px;opacity: 0;visibility: hidden;transform: translateX(10px);transition: all .25s ease-in;
        .tooltip-menu{position: static;margin-left: 22px;}
    }

}

.btn-allmenu{
    background: none;padding: .5rem;border: 0;position: absolute;left: 30px;top: 25px;
}

.btn-information-wrap{
    position: absolute;left: 36px;bottom: 36px;
    .btn-information{
        background: none;padding: 0;border: 0;
        &.active{
            & + .tooltip-menu{visibility: visible;opacity: 1;}
        }
    }
    .tooltip-menu{
        left: 83px;bottom: 0;visibility: hidden;opacity: 0;transition: opacity .2s;
    }
}

.lnb{
    padding-top: 28px;height: 70px;
    ul{display: flex;align-items: center;justify-content: center;}
    li{margin: 0 20px;position: relative;}
    a{
        font-size: 16px;font-weight: 500;padding: 5px;text-decoration: none;
        &.active{
            color: $primary;
            &::before{content: '';width: 5px;height: 5px;background: $primary;border-radius: 50%;position: absolute;left: 50%;bottom: -8px;}
        }
    }
    [data-menu="feed"] &{
        [data-menu="feed"]{display: flex !important;}
    }
    [data-menu="connectom"] &{
        [data-menu="connectom"]{display: flex !important;}
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(110%);
                transform: translateX(110%);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(110%);
              transform: translateX(110%);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.layer-wrap{
    background-color: #fff;width: 420px;border-radius: 8px;padding: 30px;
    .layer-top{
        margin-bottom: 30px;
        .tit{
            display: inline-flex;align-items: center;
            strong{font-size: 20px;font-weight: 700;margin: 0 10px 0 5px;line-height: 1.1;}
            span{font-size: 14px;font-weight: 700;color: #999;}
            i{transform: translateY(-2px);margin-right: 3px;}
        }
    }
    .layer-body{
        .subtit{font-size: 14px;font-weight: 700;}
    }
    .buttons{
        display: flex;justify-content: center;padding-top: 30px;border-top: 1px solid #f1f1f1;margin-top: 30px;
        > div{display: flex;align-items: center;}
        .btn + .btn{margin-left: 10px;}
    }
}
.layer-btn-close{border: 0;padding: 0;background: transparent;padding: 4px;}

