<div id="footer-block">

</div>

<!-- layer : 사용자 계정 -->
<div class="my-layer">
    <div class="my-info">
        <div class="my-info-top row align-items-center">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="profile">
                        <img src="/assets/images/@thumb.png" alt="Salt">
                    </div>
                    <strong class="name">Salt</strong>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="layer-btn-close" aria-label="Close"><i class="icon-close"></i></button>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <a href="#none" id="js-btn-myinfo">사용자 정보</a>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">멤버십 : Free Trial</div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-lg btn-light min-width-100px">Upgrade</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-lg btn-primary min-width-100px">Log out</button>
        </div>
    </div>
</div>

<!-- layer : 사용자 정보 -->
<div class="myinfo-layer">
    <div class="dim"></div>
    <div class="layer-wrap">
        <div class="layer-top">
            <div class="d-flex align-items-center justify-content-between">
                <div class="tit">
                    <strong>사용자 정보</strong>
                </div>
                <button type="button" class="layer-btn-close" aria-label="Close" id="js-btn-myinfo-close"><i class="icon-close"></i></button>
            </div>
        </div>
        <div class="layer-body">
            <div class="profile-area">
                <div class="profile">
                    <!-- 이미지 O -->
                    <!-- <img src="/assets/images/@portrait.jpg" alt=""> -->
                    <!-- 이미지 X -->
                    <span>Image</span>
                </div>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary min-width-80px">등록</button>
                    <button type="button" class="btn btn-lightgray min-width-80px">삭제</button>
                </div>
            </div>
            <div class="form-myinfo">
                <div class="form-group">
                    <label for="" id="fInput1">이름</label>
                    <input type="text" class="form-control" id="fInput1" value="Saltlux123456">
                </div>
                <div class="form-group">
                    <label for="" id="fInput2">전화번호</label>
                    <div class="row">
                        <div class="col-auto">
                            <select name="" id="fInput2" class="custom-select">
                                <option value="">+82</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="tel" class="form-control" title="전화번호 입력" value="01054328456">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-lightgray min-width-120px">전화번호 변경</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" id="fInput3">이메일</label>
                    <div class="row">
                        <div class="col">
                            <input type="eamil" class="form-control" id="fInput3" value="deepsignal1234@naver.com">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-lightgray min-width-120px">이메일 변경</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="" id="fInput4">직종</label>
                            <select name="" id="fInput4" class="custom-select">
                                <option value="">IT 컨설팅</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" id="fInput5">직무</label>
                            <select name="" id="fInput5" class="custom-select">
                                <option value="">프로젝트 매니저</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" id="fInput6">회사명</label>
                            <input type="text" class="form-control" id="fInput6" value="VW Lab">
                        </div>
                    </div>
                </div>
                <div class="form-group border-bottom-0">
                    <div class="row">
                        <div class="col">
                            <label for="" id="fInput7">뉴스레터 수신동의</label>
                            <div class="row row-10">
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree1" id="agree1-Y" checked>
                                    <label for="agree1-Y" class="btn btn-lightgray btn-block">예</label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree1" id="agree1-N">
                                    <label for="agree1-N" class="btn btn-lightgray btn-block">아니오</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="" id="fInput8">알림/푸시 수신동의</label>
                            <div class="row row-10">
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree2" id="agree2-Y">
                                    <label for="agree2-Y" class="btn btn-lightgray btn-block">예</label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree2" id="agree2-N" checked>
                                    <label for="agree2-N" class="btn btn-lightgray btn-block">아니오</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="" id="fInput9">문자메시지 수신동의</label>
                            <div class="row row-10">
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree3" id="agree3-Y" checked>
                                    <label for="agree3-Y" class="btn btn-lightgray btn-block">예</label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="radio-btn-style" name="agree3" id="agree3-N">
                                    <label for="agree3-N" class="btn btn-lightgray btn-block">아니오</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons justify-content-between">
                <div>
                    <button type="button" class="btn btn-lg btn-outline-lightgray min-width-100px">회원탈퇴</button>
                </div>
                <div>
                    <button type="button" class="btn btn-dark btn-lg min-width-100px">취소</button>
                    <button type="button" class="btn btn-primary btn-lg min-width-100px">사용자 정보변경</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- layer : 알림 -->
<div class="alarm-layer">
    <div class="dim"></div>
    <div class="layer-wrap">
        <div class="layer-top">
            <div class="d-flex align-items-center justify-content-between">
                <div class="tit">
                    <i class="icon-bell"></i> <strong>알림</strong> <span>(5)</span>
                </div>
                <div class="custom-switch">
                    <span>알림설정</span>
                    <input type="checkbox" id="alarmUse" checked><label for="alarmUse">Toggle</label>
                </div>
            </div>
        </div>
        <div class="layer-body">
            <ul class="alarm-list">
                <li>
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="tit">Connectome completed</div>
                            </div>
                            <div class="col-auto">
                                <div class="date">Now</div>
                            </div>
                        </div>
                        <p class="desc">Warren443546의 커넥톰이 완성되었습니다.</p>
                    </a>
                </li>
                <li class="readed">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="tit">Signal Updated</div>
                            </div>
                            <div class="col-auto">
                                <div class="date">6 hours</div>
                            </div>
                        </div>
                        <p class="desc">전기자동차 Topic과 관련된 시그널이 업데이트 되었습니다.</p>
                    </a>
                </li>
                <li class="readed">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="tit">New Follower</div>
                            </div>
                            <div class="col-auto">
                                <div class="date">5 days</div>
                            </div>
                        </div>
                        <p class="desc">summer 353322님이 팔로우하기 시작했습니다.</p>
                    </a>
                </li>
            </ul>
            <div class="buttons">
                <button type="button" class="btn btn-dark btn-lg min-width-100px">모두 확인</button>
                <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-alarm-close">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- layer : 알림 toast -->
<div class="toast-alarm">
    <div id="toast-alarm" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="layer-wrap">
            <div class="layer-top">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="tit">
                        <i class="icon-bell"></i> <strong>알림</strong> <span>(5)</span>
                    </div>
                    <div class="custom-switch">
                        <span>알림설정</span>
                        <input type="checkbox" id="alarmUse2" checked><label for="alarmUse2">Toggle</label>
                    </div>
                </div>
            </div>
            <div class="layer-body">
                <ul class="alarm-list">
                    <li>
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="tit">Connectome completed</div>
                                </div>
                                <div class="col-auto">
                                    <div class="date">Now</div>
                                </div>
                            </div>
                            <p class="desc">Warren443546의 커넥톰이 완성되었습니다.</p>
                        </a>
                    </li>
                </ul>
                <div class="buttons">
                    <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-toast-close">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //알람 toast
        $('#js-btn-toast-close').on('click',function(){
            $('#toast-alarm').toast('hide');
        });
    });
</script>