<div id="header-block">
    <header>
        <a href="#none" class="logo"><span class="sr-only">Deepsignal</span></a>
        <!-- <div class="search">
            <fieldset>
                <legend>search</legend>
                <input type="text" placeholder="Search">
                <i class="icon-search"></i>
            </fieldset>
        </div> -->
        <nav class="lnb">
            <ul data-menu="feed" hidden>
                <li><a href="#none" class="active">Feed</a></li>
                <li><a href="#none">People</a></li>
                <li><a href="#none">Signals</a></li>
                <li><a href="#none">Intelligence</a></li>
            </ul>
            <ul data-menu="connectom" hidden>
                <li><a href="" class="active">커넥톰 설정</a></li>
                <li><a href="">소셜 커넥톰</a></li>
                <li><a href="">커넥톰 정보</a></li>
            </ul>
        </nav>
        <div class="util">
            <div class="lang">
                <a href="#none" role="button"><i class="icon-language"></i> <!-- <span>Kor</span> --></a>
                <div class="tooltip-menu">
                    <ul>
                        <li><a href="#none">Korean</a></li>
                        <li><a href="#none">English</a></li>
                    </ul>
                </div>
            </div>
            <div class="search">
                <a href="#none"><i class="icon-search"></i></a>
            </div>
            <!-- after login -->
            <div class="alarm">
                <a href="#none"><i class="icon-bell"></i><span class="badge badge-danger">5</span></a>
            </div>
            <div class="fullscreen">
                <a href="#none">
                    <i class="material-icons">fullscreen</i>
                </a>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-light">Upgrade</button>
            </div>
            <div class="mypage">
                <a href="#none"><span class="profile"><img src="/assets/images/@thumb.png" alt=""></span></a>
            </div>
            <!-- before login -->
            <!-- <div class="mypage">
                <a href="#none"><i class="icon-user"></i></a>
            </div>
            <div class="buttons">
                <a href="#none" class="btn btn-primary">Login</a>
            </div> -->
        </div>
    </header>
</div>