<meta charset="UTF-8">
<meta http-equiv="x-ua-Compatible" content="IE=edge">
<title>DeepSignal</title>
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="192x192">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/assets/lib/swiper/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/lib/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/style.css">

<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/lib/swiper/js/swiper-bundle.min.js"></script>
<script src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/lib/freewall/freewall.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>