<nav>
    <a href="#container-block" id="skip_navi">본문바로가기</a>
</nav>

<div id="sidebar-block">
    <div class="sidebar-inner">
        <div class="btn-allmenu-wrap">
            <button type="button" class="btn-allmenu"><i class="icon-allmenu"><span class="sr-only">전체메뉴</span></i></button>
        </div>
        <nav class="gnb">
            <ul class="dep1">
                <li>
                    <a href="/feed/" class="active">
                        <span class="icon"><i class="icon-home"></i></span>
                        <span class="text">Home</span>
                    </a>
                    <div class="dep2">
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="/feed/">Feed</a></li>
                                <li><a href="#none">People</a></li>
                                <li><a href="#none">Signals</a></li>
                                <li><a href="#none">Intelligence</a></li>
                            </ul>
                            <div class="bar"></div>
                            <a href="#none"><i class="icon-setting"></i>Setting</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#none">
                        <span class="icon"><i class="icon-archive"></i></span>
                        <span class="text">Archive</span>
                    </a>
                    <div class="dep2">
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="#none">사용자활동</a></li>
                                <li><a href="#none">즐겨찾기</a></li>
                                <li><a href="#none">북마크</a></li>
                                <li><a href="#none">좋아요</a></li>
                                <li><a href="#none">공유</a></li>
                                <li><a href="#none">메모</a></li>
                                <li><a href="#none">팔로우</a></li>
                            </ul>
                            <div class="bar"></div>
                            <a href="#none"><i class="icon-setting"></i>아카이브 설정</a>
                        </div>
                    </div>
                </li>
                <!-- before login -->
                <li>
                    <a href="/connectom/">
                        <span class="icon"><i class="icon-connectom"></i></span>
                        <span class="text">Connectom</span>
                    </a>
                    <div class="dep2">
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="/connectom/">커넥톰</a></li>
                                <li><a href="#none">소셜커넥톰</a></li>
                                <li><a href="#none">커넥톰 기본정보</a></li>
                            </ul>
                            <div class="bar"></div>
                            <a href="#none"><i class="icon-setting"></i>커넥톰 설정</a>
                        </div>
                    </div>
                </li>
                <!-- after login -->
                <li class="after-login">
                    <a href="/connectom/">
                        <span class="icon">
                            <div class="profile"><img src="/assets/images/@thumb.png" alt=""></div>
                        </span>
                        <span class="text">VW</span>
                    </a>
                    <div class="dep2">
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="/connectom/">커넥톰</a></li>
                                <li><a href="#none">소셜커넥톰</a></li>
                                <li><a href="#none">커넥톰 기본정보</a></li>
                            </ul>
                            <div class="bar"></div>
                            <a href="#none"><i class="icon-setting"></i>커넥톰 설정</a>
                        </div>
                    </div>
                </li>
                <li class="after-login">
                    <a href="/connectom/">
                        <span class="icon"><i class="icon-add"></i></span>
                    </a>
                    <div class="dep2">
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="/connectom/">커넥톰</a></li>
                                <li><a href="#none">소셜커넥톰</a></li>
                                <li><a href="#none">커넥톰 기본정보</a></li>
                            </ul>
                            <div class="bar"></div>
                            <a href="#none"><i class="icon-setting"></i>커넥톰 설정</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="btn-information-wrap">
            <button type="button" class="btn-information"><i class="icon-info"><span class="sr-only">도움말</span></i></button>
            <div class="tooltip-menu tooltip-menu-dark" id="js-info-tooltip-menu">
                <ul>
                    <li><a href="#none">서비스 가이드</a></li>
                    <li><a href="#none">공지사항 <i class="icon-new ml-2">N</i></a></li>
                    <li><a href="#none">FAQ</a></li>
                    <li><a href="#none">1:1 문의</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>