<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>
<body data-menu="connectom"> <!-- body의 data-menu는 각 메뉴별로 다름 -->

    <div id="wrap">

        <%- include('../layout/_sidebar.ejs')%>

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">

            <div class="connectom-area">
                <div class="topic-add-center">
                    <button type="button" class="btn-icon btn-primary" aria-label="토픽 추가" id="js-btn-topic-add-center"><i class="icon-plus-white"></i></button>
                    <div class="tooltip-menu">
                        <ul>
                            <li><a href="#none">템플릿으로 시작하기</a></li>
                            <li><a href="#none">자동생성</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- floating buttons -->
            <div class="floating-btns">
                <!-- 타임라인 -->
                <div class="timeline">
                    <button type="button" class="btn-icon" aria-label="타임라인" id="js-btn-timeline"><i class="icon-clock"></i></button>
                    <div class="tooltip-menu tooltip-menu-dark">
                        <div class="today">
                            <span>오늘일자</span>
                            <strong>2021.07.04</strong>
                        </div>
                    </div>
                    <div class="timeline-layer">
                        <div class="layer-wrap">
                            <div class="layer-top">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="tit">
                                        <i class="icon-clock"></i> <strong>타임라인</strong>
                                    </div>
                                    <p class="text-muted font-12px">*조회일자를 선택해주세요.</p>
                                </div>
                            </div>
                            <div class="layer-body">
                                <div class="timeline-progress">
                                    <div class="row row-20 align-items-center">
                                        <div class="col">
                                            <div id="slider-range"></div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn-icon" aria-label="달력" id="js-btn-calendar"><i class="icon-calendar"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="label mb-3">조회일자 및 선택한 토픽</div>
                                    <div class="row row-10 align-items-center justify-content-between">
                                        <div class="col-auto">
                                            <span class="topic">2021-06-10</span>
                                            <span class="topic">토픽 전체</span>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-lg btn-outline-lightgray"><i class="icon-topic-add mr-2"></i>토픽 선택</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row row-0">
                                        <div class="col-auto">
                                            <div class="label">수집 상태</div>
                                        </div>
                                        <div class="col-auto">
                                            <dl>
                                                <dt>Contents</dt>
                                                <dd>27</dd>
                                            </dl>
                                        </div>
                                        <div class="col-auto">
                                            <dl>
                                                <dt>Storage</dt>
                                                <dd><span class="text-primary">8,432mb</span> / 1gb</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row row-0">
                                        <div class="col-auto">
                                            <div class="label">토픽 수</div>
                                        </div>
                                        <div class="col-auto">
                                            <dl>
                                                <dt>All Topics</dt>
                                                <dd>91</dd>
                                            </dl>
                                        </div>
                                        <div class="col-auto">
                                            <dl>
                                                <dt>New Topics</dt>
                                                <dd><span class="text-primary">+1</span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="label mb-3">학습 히스토리</div>
                                    <div class="overflow-y-scroll">
                                        <ul class="learning-history">
                                            <li>
                                                <span>[신규학습]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[사용자피드백]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[신규학습]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[사용자피드백]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[신규학습]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[사용자피드백]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[신규학습]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                            <li>
                                                <span>[사용자피드백]</span>
                                                <span>2021-02-10 </span>
                                                <span>Internet Technology</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="buttons mt-0">
                                    <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-timeline-close">닫기</button>
                                </div>
                            </div>
                        </div>
                        <div class="datepicker-box">
                            <div id="datepicker"></div>
                        </div>
                    </div>
                </div>
                <!-- //타임라인 -->
                <!-- 토픽 관리 -->
                <div class="topic-manage">
                    <div class="topic-add">
                        <button type="button" class="btn-icon" aria-label="토픽 추가" id="js-btn-topic-add"><i class="icon-plus"></i></button>
                        <div class="tooltip-menu">
                            <ul>
                                <li><a href="#none">메인 토픽 추가</a></li>
                                <li><a href="#none">서브 토픽 추가</a></li>
                                <li><a href="#none">토픽 여러개 추가</a></li>
                                <li><a href="#none">템플릿으로 시작하기</a></li>
                                <li><a href="#none">자동생성</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="channel-setting m-t-15">
                        <!-- 인증실패 : data-status="fail" -->
                        <button type="button" class="btn-icon" aria-label="채널 설정" id="js-btn-channel" data-status="fail"><i class="icon-doc"></i></button>
                        <div class="tooltip-menu">
                            <p class="message text-center"><span class="text-danger">인증실패</span>한 <br>데이터 소스가 있습니다.</p>
                        </div>
                        <div class="channel-layer">
                            <div class="layer-wrap">
                                <div class="layer-top">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="tit">
                                            <i class="icon-doc"></i> <strong>채널 설정</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-body">
                                    <div class="text-tip m-b-25">
                                        <p>*학습할 채널을 추가하신 후 토픽을 등록하실 수 있습니다.</p>
                                        <p>*설정하신 채널을 클릭하시면 등록한 토픽을 보실 수 있습니다.</p>
                                    </div>
                                    <div class="row align-items-center justify-content-between mb-3">
                                        <div class="col-auto">
                                            <strong class="subtit">설정한 데이터소스</strong>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-lg btn-outline-lightgray"><i class="icon-topic-add mr-2"></i>채널 추가</button>
                                        </div>
                                    </div>
                                    <div class="topic-wrap">
                                        <span class="topic active">구글드라이브(5)<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">페이스북(0)<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">네이버카페(0)<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">트위터(0)<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic" data-status="fail">인스타그램(0)<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                    </div>
                                    <p class="empty">설정한 채널이 없습니다.</p>
                                    <div class="row align-items-center justify-content-between mb-3">
                                        <div class="col-auto">
                                            <strong class="subtit"><span class="text-primary">구글드라이브</span>에 설정한 토픽
                                            </strong>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-lg btn-outline-lightgray"><i class="icon-topic-add mr-2"></i>토픽 설정</button>
                                        </div>
                                    </div>
                                    <div class="topic-count">
                                        <strong>전체</strong>
                                        <em class="text-primary">5</em>
                                        <div class="selected-topic">
                                            (<span>Main</span>
                                            <em>9</em>
                                            ,
                                            <span>Sub</span>
                                            <em>21</em>
                                            )
                                        </div>
                                    </div>
                                    <div class="topic-wrap">
                                        <span class="topic">관광지<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">호텔<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">2020<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">놀이공원<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">[포토] 프랑스 레스토랑 주방서 일하는...<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                    </div>
                                    <p class="empty">설정하신 데이터 소스별로 <br>등록하신 토픽을 보실 수 있습니다.</p>
                                    <div class="buttons">
                                        <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-channel-close">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="key-add m-t-15">
                        <button type="button" class="btn-icon" aria-label="토픽 주제어 등록" id="js-btn-key-add"><i class="icon-tooltip"></i></button>
                        <div class="key-add-layer">
                            <div class="layer-wrap">
                                <div class="layer-top">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="tit">
                                            <i class="icon-tooltip"></i> <strong>토픽 주제 설정</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-body">
                                    <div class="text-tip m-b-25">
                                        <p>*선택하신 토픽의 주제를 보실 수 있으며, 10개까지 등록하실 수 있습니다.  </p>
                                        <p>*토픽에 주제를 등록하시려면 주제 등록 버튼을 클릭하세요.</p>
                                    </div>
                                    <div class="row align-items-center justify-content-between mb-3">
                                        <div class="col-auto">
                                            <strong class="subtit"><span class="text-primary">서울</span>에 등록된 주제(0)</strong>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-lg btn-outline-lightgray"><i class="icon-topic-add mr-2"></i>주제 등록</button>
                                        </div>
                                    </div>
                                    <div class="topic-wrap">
                                        <span class="topic">관광지<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">호텔<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">2020<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">놀이공원<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                        <span class="topic">[포토] 프랑스 레스토랑 주방서 일하는...<a href="javascript:;" class="del" role="button" aria-label="삭제"></a></span>
                                    </div>
                                    <p class="empty">토픽에 등록된 주제가 없습니다.</p>
                                    <div class="buttons">
                                        <button type="button" class="btn btn-primary btn-lg min-width-100px" id="js-btn-key-add-close">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 토픽 관리 -->
                <!-- zoom -->
                <div class="zoom">
                    <div class="zoom-area">
                        <div class="zoom-select">
                            <button type="button" class="btn-zoom" aria-label="확대/축소"><span>100%</span> <i></i></button>
                            <div class="tooltip-menu">
                                <ul>
                                    <li><a href="#none" data-value="50">50%</a></li>
                                    <li><a href="#none" data-value="75">75%</a></li>
                                    <li><a href="#none" data-value="100">100%</a></li>
                                    <li><a href="#none" data-value="125">125%</a></li>
                                    <li><a href="#none" data-value="150">150%</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="50" aria-valuemax="150"></div>
                        </div>
                        <div class="btns">
                            <button type="button" aria-label="zoom out" id="js-btn-zoomout"><i class="icon-zoom-minus"></i></button>
                            <button type="button" aria-label="zoom in" id="js-btn-zoomin"><i class="icon-zoom-plus"></i></button>
                        </div>
                    </div>
                </div>
                <!-- //zoom -->
                <!-- 실행취소&삭제 -->
                <div class="connectom-functions">
                    <button type="button" class="btn-icon" aria-label="실행취소"><i class="icon-undo"></i></button>
                    <button type="button" class="btn-icon" aria-label="삭제"><i class="icon-trash"></i></button>
                </div>
                <!-- //실행취소&삭제 -->
                <!-- view feed -->
                <div class="view-feed has-topic"> <!-- 토픽 선택 되어있을때 .has-topic 추가 -->
                    <div class="selected-topic">
                        <span>Main</span>
                        <em>9</em>
                        <span>Sub</span>
                        <em>21</em>
                    </div>
                    <button type="button" class="btn-icon" id="js-btn-view-feed">View Feed</button>
                    <div class="tooltip-menu">
                        <ul>
                            <li><a href="#none">토픽 전체</a></li>
                            <li><a href="#none">토픽 선택</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //view feed -->
            </div>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>

    <script src="/assets/js/ui.js"></script>
    <script>
        //토픽 추가(중앙 아이콘)
        $('#js-btn-topic-add-center').on('click',function(){
            $('.topic-add-center').toggleClass('active');
        });
        $(document).on('click', function(e){ //바깥 클릭시 닫기
			if ($('.topic-add-center').has(e.target).length === 0){
				$('.topic-add-center').removeClass('active');
			}
		});

        //토픽 추가
        $('#js-btn-topic-add').on('click',function(){
            $('.topic-add').toggleClass('active');
        });
        $(document).on('click', function(e){ //바깥 클릭시 닫기
			if ($('.topic-add').has(e.target).length === 0){
				$('.topic-add').removeClass('active');
			}
		});

        //채널 설정
        $('#js-btn-channel').on('click',function(){
            $('.channel-setting').toggleClass('active');
        });
        $('#js-btn-channel-close').on('click',function(){
            $('.channel-setting').removeClass('active');
        });

        //토픽 주제 설정
        $('#js-btn-key-add').on('click',function(){
            $('.key-add').toggleClass('active');
        });
        $('#js-btn-key-add-close').on('click',function(){
            $('.key-add').removeClass('active');
        });

        //view feed button
        $('#js-btn-view-feed').on('click',function(){
            $('.view-feed').toggleClass('active');
        });
        $(document).on('click', function(e){ //바깥 클릭시 닫기
			if ($('.view-feed').has(e.target).length === 0){
				$('.view-feed').removeClass('active');
			}
		});

        //timeline button
        $('#js-btn-timeline').on('click',function(){
            $('.timeline').toggleClass('active');
        });
        $('#js-btn-timeline-close').on('click',function(){
            $('.timeline').removeClass('active');
        });

        //timeline slider
        $("#slider-range").slider({
            range: "min",
            value: 60,
            min: 1,
            max: 100,
            slide: function( event, ui ) {
                console.log(ui.value)
            }
        });

        //calendar button
        $('#js-btn-calendar').on('click',function(){
            $('.timeline-layer').toggleClass('show-calendar');
        });
        $(document).on('click', function(e){ //바깥 클릭시 닫기
			if ($('.timeline-layer').has(e.target).length === 0 && $('.ui-datepicker-prev').has(e.target).length === 0  && $('.ui-datepicker-next').has(e.target).length === 0){
				$('.timeline-layer').removeClass('show-calendar');
			}
		});

        //datepicker
        $( "#datepicker" ).datepicker({
            monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            dayNamesMin: [ "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            showMonthAfterYear:true,
            showOtherMonths: true,
            changeMonth: true,
            changeYear: true
        });

        //zoom
        var $btnZoom = $('.btn-zoom span');
        var $btnZoomIn = $('#js-btn-zoomin');
        var $btnZoomOut = $('#js-btn-zoomout');
        var $zoomProgress = $('.zoom .progress-bar');
        var $zoomSelect = $('.zoom-select a');
        let zoomIng = parseInt($zoomProgress.attr('aria-valuenow'));

        function zoom(zoomIng, dir, num){
            if(num !== undefined){
                zoomIng = num;
            }
            if(dir == 'in'){
                if(zoomIng <= 125){
                    zoomIng = zoomIng + 25;
                }
            }
            else if(dir == 'out'){
                if(zoomIng >= 75){
                    zoomIng = zoomIng - 25;
                }
            }
            $zoomProgress.attr('aria-valuenow', zoomIng);
            $btnZoom.text(zoomIng + '%');
        }
        $btnZoomIn.on('click',function(){
            zoomIng = parseInt($zoomProgress.attr('aria-valuenow'));
            var dir = 'in'
            zoom(zoomIng, dir);
        });
        $btnZoomOut.on('click',function(){
            zoomIng = parseInt($zoomProgress.attr('aria-valuenow'));
            var dir = 'out'
            zoom(zoomIng, dir);
        });
        $zoomSelect.on('click',function(){
            zoomIng = parseInt($zoomProgress.attr('aria-valuenow'));
            var num = $(this).attr('data-value')
            zoom(zoomIng, '', num);
        });
    </script>

</body>
</html>